body {
    margin: 0;
    padding: 0;
    background: #86bce9 url(../images/page-bg.jpg) repeat-x;
    font-size: 14px;
    font-family: Arial;
}

.page {
    -webkit-box-shadow: 0px 0px 10px #256bb1;
    -moz-box-shadow: 0px 0px 10px #256bb1;
    box-shadow: 0px 0px 10px #256bb1;
}

#header {
    background: #FFFFFF;
}

#content {
    height: 578px;
    background: #FFF url(../images/content-bg.png) no-repeat center top;
    position: relative;
}

#footer {
	padding-top: 35px;
	height: 60px;
    background: url(../images/foot-bg.jpg) no-repeat;
    color: #838383;
    font-size: 12px;
    text-align: center;
	line-height: 24px;
}

#header .logo {
    padding: 22px 0 5px 0;
}

#content .banner {
    position: absolute;
	top: 280px;
	left: 380px;
	width: 200px;
	font-family: Calibri;
	font-size: 24px;
	color: #d4d4d4;
	text-align: center;
}

#header .sub_title {
    display: block;
    color: #999999;
    font-size: 13px;
    font-family: Georgia;
    text-indent: -.85em;
}

#header .point {
    display: inline-block;
    line-height: 22px;
    color: #666666;
    font-weight: bold;
    font-family: "Times New Roman";
    font-size: 14px;
    padding-right: 40px;
}

#content {
	position: relative;
}
.block-tl {
	position: absolute;
	top: 30px;
	left: 0;
	width: 300px;
	text-align: right;
}

.block-tr {
	position: absolute;
	top: 30px;
	right: 0;
	width: 300px;
}

.block-bl {
	position: absolute;
	bottom: 110px;
	left: 0;
	width: 300px;
	text-align: right;
}

.block-br {
	position: absolute;
	bottom: 110px;
	right: 0;
	width: 300px;
}

#content .head {
	font-family: Cambria, Georgia, Arial;
	font-size: 18px;
	color: #b1b6ba;
}

#content .body {
}

#content .body a {
    display: block;
    color: #7b8084;
	height: 25px;
	line-height: 25px;
    text-decoration: none;
    margin: 0;
    padding: 3px 15px;
    margin-left: 0;
    -webkit-transition: margin-left .2s ease-in-out;
}

#content>div:hover .head {
    /*color: #CCC;*/
}

.block-tl .head {
	width: 305px;
	height: 40px;
	padding-right: 25px;
	background: url(../images/headline-bg.png) no-repeat 0 15px;
}
#content>div.block-tl:hover .head {
	color: #86ab27;
}

#content>div.block-tr:hover .head {
	color: #e0952b;
}

#content>div.block-bl:hover .head {
	color: #bc73e6;
}

#content>div.block-br:hover .head {
	color: #2589d4;
}

.block-tr .head {
	margin-left: -30px;
	width: 305px;
	height: 40px;
	padding-left: 25px;
	background: url(../images/headline-bg.png) no-repeat -330px 15px;
}

.block-bl .head {
	position: absolute;
	bottom: 0;
	width: 305px;
	height: 30px;
	padding-top: 15px;
	padding-right: 25px;
	background: url(../images/headline-bg.png) no-repeat 0 -35px;
}

.block-br .head {
	position: absolute;
	bottom: 0;
	margin-left: -30px;
	width: 305px;
	height: 30px;
	padding-top: 15px;
	padding-left: 25px;
	background: url(../images/headline-bg.png) no-repeat -330px -35px;
}

.block-tl .body {
	padding-right: 20px;
}

.block-tr .body {
	padding-left: 20px;
}

.block-bl .body {
	padding-right: 20px;
}

.block-br .body {
	padding-left: 20px;
}

.block-bl .body,
.block-br .body {
	position: absolute;
	bottom: 45px;
	width: 280px;
	padding-bottom: 10px;
}

#content .block-tl .body a:hover {
	color: #638608;
	background: url(../images/item-bg.gif) no-repeat 55px 0px;
}

#content .block-tr .body a:hover {
	color: #84540a;
	background: url(../images/item-bg.gif) no-repeat -226px 0px;
}

#content .block-bl .body a:hover {
	color: #ae0cf2;
	background: url(../images/item-bg.gif) no-repeat 55px -34px;
}

#content .block-br .body a:hover {
	color: #235a83;
	background: url(../images/item-bg.gif) no-repeat -226px -34px;
}

#content .body a:hover {
    /*color: #990011;
    margin-left: -5px;*/
}

#footer a {
    color: #666;
    padding: 0 5px;
}

#footer a:hover {
    color: #333;
}
